<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mick88.dittimetable"
    android:installLocation="auto"
    android:versionCode="28"
    android:versionName="3.3" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.mick88.dittimetable.TimetableApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name="com.mick88.dittimetable.timetable_activity.TimetableActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mick88.dittimetable.settings.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="com.mick88.dittimetable.timetable_activity.UnfoldActivity"
            android:label="@string/title_activity_unfold"
            android:parentActivityName="com.mick88.dittimetable.timetable_activity.TimetableActivity"
            android:theme="@style/details_theme" >
        </activity>
        <activity
            android:name="com.mick88.dittimetable.about.AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName="com.mick88.dittimetable.timetable_activity.TimetableActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mick88.dittimetable.timetable_activity.TimetableActivity" />
        </activity>
        <activity
            android:name="com.mick88.dittimetable.event_details.EventDetailsSwipableActivity"
            android:label="@string/title_activity_event_details"
            android:parentActivityName="com.mick88.dittimetable.timetable_activity.TimetableActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mick88.dittimetable.TimetableActivity" />
        </activity>
        <!--
             <receiver android:name="com.mick88.dittimetable.widget.TimetableWidget" android:label="Timetable">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/widget_info"/>
        </receiver>
        -->
        <service
            android:name="com.mick88.dittimetable.PdfDownloaderService"
            android:enabled="true"
            android:exported="true" >
        </service>
    </application>

</manifest>